
/*//////////////////////////
        Base Styles
        Mobile View
/////////////////////////*/



*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

body {
  background-color: #FFFFFF;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 0 rem;
  margin: 0 auto;
  width: 100%;
  height: 100%
  color: #0B0B0B;
}
.grid-container {
    display: grid;
    grid-template-columns: 55px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "navigation" "main";

}
.header {
    grid-area: header;
    color: white;
    background-color: #766EC8;
}
.svg-bell-icon:hover {
    transition: transform .4 ease-out;
}
.svg {
    display: block;
    background-color: red;
    transform-origin: 33.32%;
    border-radius: 50%;
    height: 1 rem;
    width: 1 rem;
}

.avatar {
    width: 5 rem;
    height: 5 rem;
    border-radius: 50%;
}

/*#notifications {
    transform-origin: 50% 50%;

}*/
.nav-bar {
    grid-area: navigation;
    background-color: #4E5180;
    padding: 15px;
}

.main {
    display: grid;
    grid-area: main;
}


@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: "header header"
        "navigation main"
    }
    .main {
        grid-template-columns: 50%;
    }
}


*{
    border: 1px solid red:
}
